<link href="#pluginLocation#/css/bookaroom_meetings.css" rel="stylesheet" type="text/css" />
<div class=wrap>
  <div id="icon-options-general" class="icon32"></div>
  <h2>Book a Room Administration - Cities</h2>
</div>
<h2>Delete City</h2>
<table border="0" cellspacing="1" cellpadding="2" class="tableMain">
  <tr>
    <td><strong>City Name</strong></td>
  </tr>
  <tr>
    <td>#cityDesc#</td>
  </tr>
</table>
<p>Deleting a city is permanent and cannot be undone. </p>
<p><a class="errorText" href="?page=bookaroom_Settings_cityManagement&amp;cityID=#cityID#&amp;action=deleteCheck">Click here to permanantly delete this city.</a></p><br />
<p><a href="?page=bookaroom_Settings_cityManagement">Return to Cities Home.</a></p>
<!--<p><a href="?page=bookaroom_Settings">Return to Meeting Room Administration Home.</a></p>-->