<link href="#pluginLocation#/css/bookaroom_meetings.css" rel="stylesheet" type="text/css" />
<div class=wrap>
  <div id="icon-options-general" class="icon32"></div>
  <h2>Book a Room Administration - Closings</h2>
</div><h2>Delete Closing</h2>
<table class="tableMain">
  <tr>
    <td>Reason</td>
    <td>Date</td>
    <td>Type</td>
    <td>Reoccuring</td>
    <td>Rooms</td>
  </tr>
  <tr>
    <td valign="top">#desc#</td>
    <td valign="top">#date#</td>
    <td valign="top">#selType#</td>
    <td valign="top">#reoccuring#</td>
    <td valign="top">#rooms#</td>
  </tr>
</table>
<p>Deleting a closing is permanent and cannot be undone. </p>
<p><a class="errorText" href="?page=bookaroom_Settings_Closings&closingID=#closingID#&amp;action=deleteCheck">Click here to permanantly delete this closing.</a></p>
<p><a href="?page=bookaroom_Settings_Closings">Return to Closings Home.</a></p>
