<link href="#pluginLocation#/css/bookaroom_meetings.css" rel="stylesheet" type="text/css" />
<div class=wrap>
  <div id="icon-options-general" class="icon32"></div>
  <h2>Book a Room Administration - Room Containers</h2>
</div>
<h2>Bad Branch</h2>
<p>You have an empty or invalid branch selected, so you can't add a new container. Return to the main list and try again.</p>
<p><a href="?page=bookaroom_Settings_RoomCont">View room container list.</a></p>
<p><a href="?page=bookaroom_Settings_RoomCont">Return to Room Container Home.</a></p>
