<!-- tableRowCheckboxToggle -->
<script type="text/javascript" src="/js/tableRowCheckboxToggle.js"></script>
<link href="/css/dataTable.css" rel="stylesheet" type="text/css" />
<div id="icon-options-general" class="icon32"></div>
<h2>Book a Room - Edit Reservation</h2>
<p>You have successfully edited this reservation. </p>
<p><a href="?page=bookaroom_meetings&amp;action=view&amp;res_id=#res_id#">View this reservation.</a></p>
<p><a href="?page=bookaroom_meetings&amp;action=edit&amp;res_id=#res_id#">Edit this reservation again.</a></p>
