<script>
jQuery(document).ready(function() {
	// check which is checked hide extra based on this.
	if( jQuery('input[name="addressType"]:checked').val() == 'usa' ){
		jQuery('#globalTable').hide();
		jQuery('#usaTable').show();
	}else{
		jQuery('#globalTable').show();
		jQuery('#usaTable').hide();
	}
	
	
	// show/hide based on 
	
	jQuery('input[name="addressType"]').change(function() {
		if( jQuery('input[name="addressType"]:checked').val() == 'usa' ){
			jQuery('#globalTable').slideUp("fast");
			jQuery('#usaTable').slideDown("fast");			
		}else{
			jQuery('#globalTable').slideDown("fast");
			jQuery('#usaTable').slideUp("fast");
		}
	});
});
</script>
<link href="#pluginLocation#/css/bookaroom_meetings.css" rel="stylesheet" type="text/css" />
<div class=wrap>
  <div id="icon-options-general" class="icon32"></div>
  <h2>Book a Room Administration</h2>
</div>
<h2>Locale Settings</h2>
<h3>Address Type</h3>
<p>If you choose United States, the system will use the US names for addresse fields. If you want to configure your own field names, choose Global.</p>
<p>If you choose Global, you will be prompted to enter the <strong>display names</strong> for each section of the Address. These are how your users will see the address questions, and can be configured to match your country's&nbsp;address format. As an example, instead of Zip Code, you can enter Postal Code and that is what the form will then ask for.</p>
<h3>Phone and Post Code options</h3>
<p>The RegEx and Example fields allow you to use a Regular Expression to compare against when error checking the user input. You can write your own, find them online or use the values in the table below the options. Just copy and paste the value into the form.</p>
<p>The example value is shown when there is an error&nbsp;to guide the user to the proper format. You can make up a number or user your real number here.</p>
<form name="form1" method="post" action="?page=bookaroom_Settings_Locale">
  #error_start#<p><h3 style="color: red;"><strong>#errorMSG#</strong></h3></p>#error_end#
  <table class="tableMain">
    <tbody>
      <tr>
        <td colspan="2">Address type</td>
      </tr>
      <tr>
        <td>United States</td>
        <td><input name="addressType" type="radio" id="addressType_usa" value="usa"#addressType_usa_checked#></td>
      </tr>
      <tr>
        <td>Global</td>
        <td><input name="addressType" type="radio" id="addressType_other" value="other"#addressType_other_checked#></td>
      </tr>
      <tr>
        <td colspan="2" align="right"><input name="action" type="hidden" id="action" value="checkLocale">          <input type="submit" name="submit" id="submit" value="Submit"></td>
      </tr>
    </tbody>
  </table>
  <br>
<div id="usaTable" style="display:nones">
  <table class="tableMain">
    <tbody>
      <tr>
        <td colspan="2">Address options</td>
        </tr>
      <tr>
        <td>Default State/Province/Territory Value</td>
        <td><select name="defaultStateDrop" id="defaultStateDrop"#contactState_class#>
                #stateDrop_start#<option value="#stateDrop_val#"#stateDrop_selected#>#stateDrop_desc#</option>#stateDrop_end#
              </select></td>
      </tr>
      <tr>
        <td colspan="2" align="right"><input type="submit" name="submit" id="submit" value="Submit"></td>
      </tr>
    </tbody>
  </table>
  </div>
  <div id="globalTable" style="display:nones">
  <table class="tableMain">
    <tbody>
      <tr>
        <td colspan="2">Address options</td>
        </tr>
      <tr>
        <td>Street Address 1 Name</td>
        <td><input name="address1_name" type="text" id="address1_name" value="#address1_name#"></td>
        </tr>
      <tr>
        <td>Street Address 2 Name</td>
        <td><input name="address2_name" type="text" id="address2_name" value="#address2_name#"></td>
        </tr>
      <tr>
        <td>City Name</td>
        <td><input name="city_name" type="text" id="city_name" value="#city_name#"></td>
        </tr>
      <tr>
        <td>State/Province/Territory Name</td>
        <td><input name="state_name" type="text" id="state_name" value="#state_name#"></td>
        </tr>
      <tr>
        <td>Default State/Province/Territory Value</td>
        <td><input name="defaultState_name" type="text" id="defaultState_name" value="#defaultState_name#"></td>
      </tr>
      <tr>
        <td>Zip/Post Code Name</td>
        <td><input name="zip_name" type="text" id="zip_name" value="#zip_name#"></td>
        </tr>
      <tr>
        <td colspan="2" align="right"><input type="submit" name="submit" id="submit" value="Submit"></td>
      </tr>
    </tbody>
  </table>
  </div>
  <br>
  <table class="tableMain">
    <tbody>
    <tr>
      <td colspan="2">Phone options</td>
    </tr>
    <tr>
      <td>Phone Regex</td>
      <td><input name="phone_regex" type="text" id="phone_regex" value="#phone_regex#"></td>
    </tr>
    <tr>
      <td>Phone Example</td>
      <td><input name="phone_example" type="text" id="phone_example" value="#phone_example#"></td>
    </tr>
    <tr>
      <td align="right">Canada/USA</td>
      <td align="right"><pre>/^\(?(\d{3})\)?[-\. ]?(\d{3})[-\. ]?(\d{4})$/</pre></td>
    </tr>
    <tr>
      <td align="right">UK</td>
      <td align="right"><pre>/^((1[1-9]|2[03489]|3[0347]|5[56]|7[04-9]|8[047]|9[018])\d{8}|(1[2-9]\d|[58]00)\d{6}|8(001111|45464\d))$/</pre></td>
    </tr>
    <tr>
      <td align="right">Australia</td>
      <td align="right"><pre>/^(?:\+?61|0)[2-478](?:[ -]?[0-9]){8}$/</pre></td>
    </tr>
    <tr>
      <td colspan="2" align="right"><input type="submit" name="submit" id="submit" value="Submit"></td>
    </tr>
  </tbody>
</table>
  <br>
  <table class="tableMain">
    <tbody>
      <tr>
        <td colspan="2">Zip/Postal Code options</td>
      </tr>
      <tr>
        <td>Zip Regex</td>
        <td><input name="zip_regex" type="text" id="zip_regex" value="#zip_regex#"></td>
      </tr>
      <tr>
        <td>Zip Example</td>
        <td><input name="zip_example" type="text" id="zip_example" value="#zip_example#"></td>
      </tr>
      <tr>
        <td align="right">USA</td>
        <td align="right"><pre>/(^\d{5}$)|(^\d{5}-\d{4}$)/</pre></td>
      </tr>
      <tr>
        <td align="right">Canada</td>
        <td align="right"><pre>/^[a-zA-Z]\d{1}[a-zA-Z](\-| |)\d{1}[a-zA-Z]\d{1}$/</pre></td>
      </tr>
      <tr>
        <td align="right">UK</td>
        <td align="right"><pre>/^[A-Z][A-Z]?[0-9][A-Z0-9]? ?[0-9][ABDEFGHJLNPQRSTUWXYZ]{2}$/i</pre></td>
      </tr>
      <tr>
        <td align="right">Australia</td>
        <td align="right"><pre>/^[0-9]{4}/</pre></td>
      </tr>
      <tr>
        <td colspan="2" align="right"><input type="submit" name="submit" id="submit" value="Submit"></td>
      </tr>
    </tbody>
  </table>
  <p>&nbsp;</p>
</form>