<link href="#pluginLocation#/css/bookaroom_meetings.css" rel="stylesheet" type="text/css" />
<div class=wrap>
  <div id="icon-options-general" class="icon32"></div>
  <h2>Book a Room Administration - Amenities</h2>
</div>
<h2>Delete Amenity</h2>
<table border="0" cellspacing="1" cellpadding="2" class="tableMain">
  <tr>
    <td><strong>Amenity Name</strong></td>
    <td><strong>Reservable</strong></td>
  </tr>
  <tr>
    <td>#amenityDesc#</td>
    <td>#isReservable#</td>
  </tr>
</table>
<p>Deleting an amenity is permanent and cannot be undone. </p>
<p><a class="errorText" href="?page=bookaroom_Settings_Amenities&amp;amenityID=#amenityID#&amp;action=deleteCheck">Click here to permanantly delete this amenity.</a></p><br />
<p><a href="?page=bookaroom_Settings_Amenities">Return to Amenities Home.</a></p>
<!--<p><a href="?page=bookaroom_Settings">Return to Meeting Room Administration Home.</a></p>-->