<!-- <link href="#pluginLocation#/css/bookaroom_day.css" rel="stylesheet" type="text/css" /> -->
  <div id="topRow">
    <div class="col">
      <div class="instructionsSmooth"><span class="header">Step 5. </span>
        <p><em>Complete the registration form. </em></p>
        <p>Completing the form does not immediately guarantee your reservation. You will be contacted at the email or phone number you supply to verify your registration.</p>
        <p><em><strong>Items marked with an asterisk* are required fields.</strong></em></p>
       <div id="errorArea">
          <p>You have the following error(s):</p>
          <ul>
           #errorMSG#
          </ul>
        </div>
      </div>
      <div class="options">
        <div id="formRow">
          <div class="wideCol" style="background-color:#FFF;"><a href="?action=reserve&amp;roomID=#roomID#&amp;timestamp=#timestamp#&session=true">
            Click here to go back to the hours page and reselect the hours you would like to reserve.
        </a></div>
        </div>
      </div>
    </div>
  </div>

