  <div id="topRow">
    <div class="col">
      <div class="instructionsSmooth">
        <p>You have successfully submitted your room request.</p>
        <p>This does not immediately guarantee your reservation. You will be contacted at the email or phone number you supply to verify your registration.</p>
<p>You are responsible for a $ #deposit# deposit as well as $ #paymentNeeded# for the reservation. </p>
<p>The total you will need to provide is $ #total#.</p>
<p>Any deposit will be returned after the meeting unless the  room is damaged or requires cleaning.</p>
      </div>
    </div>
  </div>
