<link href="#pluginLocation#/css/bookaroom_meetings.css" rel="stylesheet" type="text/css" />
<div class=wrap>
<div id="icon-options-general" class="icon32"></div>
<h2>Book a Room - Events - Category Admin - Reactivate</h2>
</div>
<h2>Reactivate an category</h2>
#error_start#
<p><h3 style="color: red;"><strong>#errorMSG#</strong></h3></p>
#error_end#
<table width="100%" border="0" class="tableMain">
  <tr>
    <td>Reactivate </td>
  </tr>
  <tr>
    <td>Are you sure you want to Reativate #groupName#? This will make it active to any new events being entered.</td>
  </tr>
  <tr>
    <td class="redBold"><a href="?page=bookaroom_event_settings_categories&action=reactivateFinal&amp;groupID=#groupID#&hash=#hash#&time=#time#">Yes. Reactivate #groupName#.</a></td>
  </tr>
</table>
<p><a href="?page=bookaroom_event_settings_categories">Cancel and return to Category management.</a></p>
</p>