<link href="#pluginLocation#/css/bookaroom_meetings.css" rel="stylesheet" type="text/css" />

<div class=wrap>
  <div id="icon-options-general" class="icon32"></div>
  <h2>Book a Room - Delete Registrations</h2>
</div>
<form name="form1" method="post" action="?page=bookaroom_event_management">
  <h3> Registration deleted.</h3>
  <p>There is no one on the waiting list so you do not to contact the next registrant.<strong></strong></p>
  <p><a href="?page=bookaroom_event_management_upcoming">Go back to search.</a></p>
</form>
