<link href="#pluginLocation#/css/bookaroom_meetings.css" rel="stylesheet" type="text/css" />

<div class=wrap>
  <div id="icon-options-general" class="icon32"></div>
  <h2>Book a Room - Edit Registrations</h2>
</div>
<form name="form1" method="post" action="?page=bookaroom_event_management">
  <table class="tableMain">
    <tr>
      <td>Event ID</td>
      <td>Date/Time</td>
      <td>Title/Desc</td>
      <td>Branch/Room</td>
      <td>Registrations</td>
    </tr>
    <tr>
      <td>#eventID#</td>
      <td nowrap="nowrap">#date#<br />
        <em>#time#</em></td>
      <td><strong>#title#</strong><br />
        #desc#</td>
      <td nowrap="nowrap"><p><strong>#branch#</strong><br />
          #room#</p></td>
      <td nowrap="nowrap">#registered# / #registeredTotal#</td>
    </tr>
  </table>
  <h3> Registration</h3>
  #errorMSG_start#
  <span style="color:red;font-weight:bold">#errorMSG#</span>
  #errorMSG_end#
  
  <table class="tableMain">
    <tr>
      <td>Name</td>
      <td>Phone</td>
      <td>Email</td>
      <td>Notes</td>
    </tr>
    <tr>
      <td>
      <input name="regName" type="text" id="regName" value="#regName#"></td>
      <td><input name="regPhone" type="text" id="regPhone" value="#regPhone#"></td>
      <td><input name="regEmail" type="text" id="regEmail" value="#regEmail#"></td>
      <td><textarea name="regNotes" type="text" id="regNotes" >#regNotes#</textarea>
      </td>
    </tr>
  </table>
  <br />
  <table class="tableMain">
    <tr>
      <td>Are you sure you want to edit this registraion?</td>
    </tr>
    <tr>
      <td align="center"><input name="eventID" type="hidden" id="eventID" value="#eventID#" />
        <input name="hash" type="hidden" id="hash" value="#hash#" />
        <input name="hashTime" type="hidden" id="hashTime" value="#hashTime#" />
        <input name="regID" type="hidden" id="regID" value="#reg_id#" />
        <input name="action" type="hidden" id="action" value="edit_registration_final" />
        <input type="submit" name="button" id="button" value="Submit" /></td>
    </tr>
  </table>
  <p><a href="?page=bookaroom_event_management_upcoming">Cancel and go back to search.</a></p>
</form>
