<link href="#pluginLocation#/css/bookaroom_meetings.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="//code.jquery.com/jquery-1.9.1.js"></script>
<script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script language="JavaScript" type="text/javascript">
var rowNum = 0;
	function addRow(frm) {
	rowNum ++;
	var row = '<p id="rowNum'+rowNum+'"><input class="dates" type="text" name="addDateVals[]" value="'+frm.add_name.value+'" readOnly="true"> <input type="button" value="Remove" onclick="removeRow('+rowNum+');"></p>';
	jQuery('#itemRows').append(row);
	frm.add_name.value = '';
}
function removeRow(rnum) {
	jQuery('#rowNum'+rnum).remove();
}


$(function() {
	// Setup date drops
	$( '#eventStart, #weekly_endBy, #regDate, #add_name, #daily_endBy' ).datepicker({ dateFormat: 'mm/dd/yy' });
	
	// If all day is checked, disable the times
	if( $('input[name="allDay"]:checked').val() == 'true' ) {
		$('#startTime, #endTime').prop('disabled', true);
	}
	else {
		$('#startTime, #endTime').prop('disabled', false);
	}
	
	// All day active switch
	$('input[name=allDay]:radio').change(function(){
		if( $(this).val() == 'true' ) {
			$('#startTime, #endTime').prop('disabled', true);
		}
		else {
			$('#startTime, #endTime').prop('disabled', false);
		}
	});
	
	// registration - switch
	$('input[name=registration]:radio').change(function(){
		if( $(this).val() == 'no') {
			$('#waitingList, #maxReg, #regDate').prop('disabled', true);
		}
		else {
			$('#waitingList, #maxReg, #regDate').prop('disabled', false);
		}
	});
	
	// registration - on load
	
	if( typeof $('input[name=registration]:checked' ) !== 'undefined' ){
		if( $('input[name=registration]:checked').val() == 'no' ){
			$('#waitingList, #maxReg, #regDate').prop('disabled', true);
		}
		else {
			$('#waitingList, #maxReg, #regDate').prop('disabled', false);
		}
	}
	

	// Daily - if you focus on eveyNDays, change radio button
	$('#dailyEveryNDaysVal').on('focus', function(){
		$('#dailyEveryNDays').attr('checked','checked');
	});
	
	// Daily - if you select weekends or weekdays, disable everyNDays
	if( typeof $('input[name=weeklyType]:checked').val() !='undefined' ) {
		if( $('input[name=dailyType]:radio').val() !== 'everyNDays' ){
			$('#dailyEveryNDaysVal').attr('disabled',true);
		};
	};
	
	$('input[name=dailyType]:radio').change(function(){
		if($(this).val() == 'everyNDays'){
			$('#dailyEveryNDaysVal').attr('disabled',false);
		}
		else {
			$('#dailyEveryNDaysVal').attr('disabled',true);
		}
	});
	
	$('input[name=dailyEndType]:radio').change(function(){
		if($(this).val() == 'Occurrences'){
			$('#daily_Occurrence').attr('disabled',false);
			$('#daily_endBy').attr('disabled',true);			
		}
		else {
			$('#daily_Occurrence').attr('disabled',true);
			$('#daily_endBy').attr('disabled',false);			
		}
	});
	
	if( typeof $('input[name=dailyEndType]:checked').val() !='undefined' ) {
		if($('input[name=dailyEndType]:checked').val() == 'Occurrences'){
			$('#daily_Occurrence').attr('disabled',false);
			$('#daily_endBy').attr('disabled',true);			
		}
		else {
			$('#daily_Occurrence').attr('disabled',true);
			$('#daily_endBy').attr('disabled',false);			
		}
	}
	
	$('#daily_Occurrence').on('focus', function(){
		$('#dailyEndTypeOccurrences').attr('checked','checked');
		$('#daily_endBy').attr('disabled',true);	
	});

	$('#daily_endBy').on('focus', function(){
		$('#dailyEndTypeEndby').attr('checked','checked');
		$('#daily_Occurrence').attr('disabled',true);
	});	

	// weekly - if Occurrences value is entered, disable end by
	if( typeof $('input[name=weeklyType]:checked').val() !='undefined' ) {
		if($('input[name=weeklyType]:checked').val() == 'Occurrences'){
			$('#weekly_Occurrence').attr('disabled',false);
			$('#weekly_endBy').attr('disabled',true);			
		}
		else {
			$('#weekly_Occurrence').attr('disabled',true);
			$('#weekly_endBy').attr('disabled',false);			
		}
	}
	$('input[name=weeklyType]:radio').change(function(){
		if($(this).val() == 'Occurrences'){
			$('#weekly_Occurrence').attr('disabled',false);
			$('#weekly_endBy').attr('disabled',true);			
		}
		else {
			$('#weekly_Occurrence').attr('disabled',true);
			$('#weekly_endBy').attr('disabled',false);			
		}
	});
	
	$('#weekly_Occurrence').on('focus', function(){
		$('#weeklyTypeOccurrences').attr('checked','checked');
		$('#weekly_endBy').attr('disabled',true);	
	});
	
	$('#weekly_endBy').on('focus', function(){
		$('#weeklyTypeEndBy').attr('checked','checked');
		$('#weekly_Occurrence').attr('disabled',true);
	});	
		
	// Recurrence drop down and hidden inputs
	$('#recurrence').change(function(){
		switch ( $(this).val() ) { 
			case 'daily':
				$('.daily').slideDown('fast');
				$('.weekly').slideUp('fast');				
				$('.monthly').slideUp('fast');
				$('.addDates').slideUp('fast');
				break;
			case 'weekly':
				$('.daily').slideUp('fast');
				$('.weekly').slideDown('fast');				
				$('.monthly').slideUp('fast');
				$('.addDates').slideUp('fast');				
				break;
			case 'monthly':
				$('.daily').slideUp('fast');
				$('.weekly').slideUp('fast');
				$('.monthly').slideDown('fast');
				$('.addDates').slideUp('fast');
				break;
			case 'addDates':
				$('.daily').slideUp('fast');
				$('.weekly').slideUp('fast');
				$('.monthly').slideUp('fast');
				$('.addDates').slideDown('fast');
				break;
			default:
				$('.daily').slideUp('fast');
				$('.weekly').slideUp('fast');
				$('.monthly').slideUp('fast');
				$('.addDates').slideUp('fast');
				break;
		};
	});

	$('#roomID').change(function() {
		$('#action').val('edit_instance_changeRoom');
		$('#form').submit();
	});
});
	
</script>
<style>
.daily, .weekly, .monthly, .addDates {
	display: none;
}
.#showName# {
 display: block;
}
</style>
<div class="wrap">
  <div id="icon-options-general" class="icon32"></div>
  <h2>Book a Room - Events</h2>
</div>
<h2>Edit Event Instance</h2>
#error_start#
<h3 style="color: red;">#errorMSG#</h3>
</p>
#error_end#
<form action="?page=bookaroom_event_management" method="post" name="form" id="form">
  <table class="tableMain">
    <tr>
      <td colspan="2">Location</td>
    </tr>
    <tr>
      <td width="150">Branch/Room</td>
      <td><select name="roomID" id="roomID">
        
	    #room_start#
        <option value="#roomVal#"#roomSelected##roomDisabled# >#roomDesc#</option>
        #room_end#

	    
      </select></td>
    </tr>
  </table>
  <br />
  <table class="tableMain">
    <tr>
      <td colspan="2">Recurrence settings </td>
    </tr>
    <tr>
      <td width="150" >Event Date</td>
      <td><input name="eventStart" type="text" id="eventStart" value="#eventStart#" size="10" maxlength="10" class="#class_eventStart#" /></td>
    </tr>
  </table>
  <br />
  <table class="tableMain">
    <tr>
      <td colspan="2">Time settings </td>
    </tr>
    <tr>
      <td width="150">All Day?</td>
      <td><input name="allDay" id="allDayTrue" type="radio" value="true"#allDay_true_checked# />
        Yes
        <input name="allDay" type="radio" id="allDayFalse" value="false"#allDay_false_checked# />
        No</td>
    </tr>
    <tr>
      <td>Start Time (hh:mm am/pm)</td>
      <td><input name="startTime" type="text" id="startTime" value="#startTime#" size="8" maxlength="8" class="#class_startTime#" /></td>
    </tr>
    <tr>
      <td>End Time (hh:mm am/pm)</td>
      <td><input name="endTime" type="text" id="endTime" value="#endTime#" size="8" maxlength="8" class="#class_endTime#" /></td>
    </tr>
  </table>
  <br />
  <table class="tableMain">
    <tr>
      <td>Extra Information</td>
    </tr>
    <tr>
      <td width="150">This will be appended to the main event's description.</td>
    </tr>
    <tr>
      <td><textarea name="extraInfo" id="extraInfo" cols="54" rows="5">#extraInfo#</textarea></td>
    </tr>
  </table>
  <p>&nbsp;</p>
  <h3>Submit when complete to check for conflicts</h3>
  <table class="tableMain">
    <tr>
      <td><input name="action" type="hidden" id="action" value="checkInstanceEdit" />
        <input name="eventID" type="hidden" id="eventID" value="#eventID#" />
        <input type="submit" name="SubmitButton" id="SubmitButton" value="Submit" /></td>
    </tr>
  </table>
  <h2>Event Information</h2>
  <p> (To edit this, you must edit the event, not an instance)</p>
  <table class="tableMain">
    <tr>
      <td colspan="2">Event settings</td>
    </tr>
    <tr>
      <td width="150">Event Tite</td>
      <td>#eventTitle#</td>
    </tr>
    <tr>
      <td>Event Description</td>
      <td>#eventDesc#</td>
    </tr>
    <tr>
      <td>Registration Required</td>
      <td class="#class_registration#" >#registration#</td>
    </tr>
    <tr>
      <td>Max. Registrations</td>
      <td>#maxReg#</td>
    </tr>
    <tr>
      <td>Waiting List</td>
      <td>#waitingList#</td>
    </tr>
    <tr>
      <td>Registration Begin Date</td>
      <td>#regDate#</td>
    </tr>
    <tr>
      <td>Private Notes</td>
      <td>#privateNotes#</td>
    </tr>
  </table>
  <br />
  <table class="tableMain">
    <tr>
      <td colspan="2">Contact settings</td>
    </tr>
    <tr>
      <td>Contact Name</td>
      <td>#publicName#</td>
    </tr>
    <tr>
      <td>Contact Phone</td>
      <td>#publicPhone#</td>
    </tr>
    <tr>
      <td>Contact Email</td>
      <td>#publicEmail#</td>
    </tr>
    <tr>
      <td width="150">Presenter</td>
      <td>#presenter#</td>
    </tr>
    <tr>
      <td>Website (<em>http://url.com</em>)</td>
      <td>#website#</td>
    </tr>
    <tr>
      <td>Website Text</td>
      <td>#websiteText#</td>
    </tr>
  </table>
  <br />
  <table class="tableMain">
    <tr>
      <td colspan="2">Amenities</td>
    </tr>
    <tr> #amenityNone_start#
      <td colspan="2">No amenities available for this location.</td>
    </tr>
    #amenityNone_end#
    #amenity_start#
    
      <td width="150">#amenity#</td>
      <td><input name="amenity[]" type="checkbox" id="amenity[#amenityVal#]" value="#amenityVal#"#amenity_checked# /></td>
    </tr>#amenity_end#
  </table>
  <br />
  <table class="tableMain">
    <tr>
      <td colspan="4">Categories</td>
    </tr>
    <tr> #categoryNone_start#
      <td colspan="4">No age groups available.</td>
    </tr>
    #categoryNone_end#
    #category_start#
    <tr>
      <td width="250" class="#class_category#"><label for="category[#categoryVal#]">#category#</label></td>
      <td width="50" class="#class_category#"><input name="category[#categoryVal#]" type="checkbox" id="category[#categoryVal#]" value="#categoryVal#"#category_checked# disabled="disabled" /></td>
      <td width="250" class="#class_category#"><label for="category[#categoryVal_right#]">#category_right#</label></td>
      <td width="50" class="#class_category#">#category_right_start#
        <input name="category[#categoryVal_right#]" type="checkbox" id="category[#categoryVal_right#]" value="#categoryVal_right#"#category_right_checked# disabled="disabled" />
        #category_right_end#</td>
    </tr>
    #category_end#
  </table>
  <br />
  <table class="tableMain">
    <tr>
      <td colspan="4">Age Group</td>
    </tr>
    <tr> #ageGroupNone_start#
      <td colspan="4">No age groups available.</td>
    </tr>
    #ageGroupNone_end#
    #ageGroup_start#
    <tr>
      <td width="250" class="#class_ageGroup#"><label for="ageGroup[#ageGroupVal#]">#ageGroup#</label></td>
      <td width="50" class="#class_ageGroup#"><input name="ageGroup[#ageGroupVal#]" type="checkbox" id="ageGroup[#ageGroupVal#]" value="#ageGroupVal#"#ageGroup_checked# disabled="disabled" /></td>
      <td width="250" class="#class_ageGroup#"><label for="ageGroup[#ageGroupVal_right#]">#ageGroup_right#</label></td>
      <td width="50" class="#class_ageGroup#">#ageGroup_right_start#
        <input name="ageGroup[#ageGroupVal_right#]" type="checkbox" id="ageGroup[#ageGroupVal_right#]" value="#ageGroupVal_right#"#ageGroup_right_checked# disabled="disabled" />
        #ageGroup_right_end#</td>
    </tr>
    #ageGroup_end#
  </table>
  <br />
  <table class="tableMain">
    <tr>
      <td colspan="2">Other options</td>
    </tr>
    <tr>
      <td width="150">Internal/Do not publish?</td>
      <td><input name="doNotPublish" type="checkbox" id="doNotPublish" value="true"#doNotPublish_checked# disabled="disabled" /></td>
    </tr>
  </table>
</form>
